.button{
    padding: .6rem 1rem;
    border-radius: 4px;
    color: #e5e5e5;
    background-color: #0066cc;
    cursor: pointer;
    text-decoration: none;
    
}

.text-deco {
    text-decoration: none;
    font-size: medium;
} 